<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        .navbar {
            margin: 50px;
            padding: 30px;
        }

        .add-form {
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Lista zadań</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/add">Dodaj zadanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/status?status=TO_DO">Do zrobienia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/status?status=DONE">Zrobione</a>
            </li>
        </ul>
    </div>
</nav>

<div class="add-form">
    <h3>Utwórz nowe zadanie</h3>

    <form th:action="@{/save}" method="post" th:object="${task}">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tytuł" th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Opis</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      th:field="*{description}"></textarea>
        </div>
        <select class="form-control" id="selectCategory" th:field="*{category}">
            <option value="OTHER">Wybierz kategorię...</option>
            <option value="HOME">obowiązki domowe</option>
            <option value="WORK">praca</option>
            <option value="WORKOUT">trening</option>
            <option value="OTHER">pozostałe</option>
        </select><br>
        <select class="form-control" id="selectCategory2" th:field="*{status}">
            <option value="TO_DO">Wybierz status...</option>
            <option value="DONE">zrobione</option>
            <option value="TO_DO">do zrobienia</option>
        </select><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>