<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        .navbar {
            margin: 50px;
            padding: 30px;
        }

        .task-list {
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="${'/'}">Lista zadań</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="${'/add'}">Dodaj zadanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${'/status?status=TO_DO'}">Do zrobienia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${'/status?status=DONE'}">Zrobione</a>
            </li>
        </ul>
    </div>
</nav>

<div class="task-list">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${taskById.getId()}"></td>
            <td th:text="${taskById.getTitle()}"></td>
            <td th:text="${taskById.getCategory().getName()}"></td>
            <td th:text="${taskById.getStatus().getName()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>